:host {
  display: block;
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

.social-media-views--item {
  background-color: var(--bg-color-social-item);
  color: var(--color-social-item);
  padding: 27px;
  padding-right: 31px;
  border-radius: 5px;
}
.social-media-views--item-content {
  width: 50%;
  display: inline-block;
  &.right {
    text-align: right;
  }
}
.social-media-views--item-content p {
  margin: 0;
  font-size: 32px;
}
.social-media-views--item-content .social-media-views--item-content--page-view {
    margin-top: 0;
}
.social-media-views--item-content--limit {
    margin-bottom: 23px;
}
.social-media-views--social-network.social-media-views--item-content--limit {
  margin-bottom: 32px;
}
.social-media-likes--counter-by-day {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
}
.social-media-likes--counter-record {
    color: #1EB589;
    margin-left: 2px;
    &.negative {
      color: #DC414C;
    }
}
